In [1]:
import pandas as pd

deaths = pd.read_csv("nhoodmedianage20112015.csv")

deaths.sort_values('TOTAL MD AGE AT DEATH', ascending = False).head(10)

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
89,SQUIRREL HILL SOUTH,58.0,83.2,721.0,86.2,802.0,85.9
76,NORTH OAKLAND,45.0,70.9,227.0,86.8,279.0,85.6
71,BANKSVILLE,4.0,NaN,247.0,85.5,253.0,85.5
53,POINT BREEZE,13.0,66.7,158.0,85.7,175.0,85.1
68,SQUIRREL HILL NORTH,6.0,75.0,231.0,85.3,242.0,85.0
20,CENTRAL OAKLAND,2.0,NaN,50.0,84.0,52.0,84.0
28,NEW HOMESTEAD,4.0,NaN,67.0,83.8,71.0,83.4
27,SWISSHELM PARK,0.0,0.0,67.0,83.1,67.0,83.1
77,OVERBROOK,4.0,NaN,284.0,82.5,289.0,82.2
83,SHADYSIDE,72.0,81.2,320.0,82.4,406.0,82.1

In [9]:
pop = pd.read_csv('82f29015-6905-4b1c-8300-afe9bb2231b3.csv')

pop.sort_values('Estimate; Total', ascending = True).head(10)

    _id       Neighborhood  Id  Estimate; Total  Margin of Error; Total
21   22            Chateau  22              3.0                3.000000
71   72        South Shore  72             12.0               14.000000
57   58        North Shore  58            205.0               66.753277
87   88           West End  88            235.0              138.000000
78   79          St. Clair  79            270.0               96.000000
4     5  Arlington Heights   5            272.0              126.000000
30   31             Esplen  31            309.0              118.000000
67   68          Ridgemont  68            314.0              109.000000
1     2     Allegheny West   2            343.0               96.000000
37   38               Hays  38            405.0              109.000000

In [8]:
neighborhoods = {}

knownneighborhoods = ['ALLEGHENY CENTER','ALLEGHENY WEST','ALLENTOWN','ARLINGTON','ARLINGTON HEIGHTS','BANKSVILLE','BEDFORD DWELLINGS','BEECHVIEW','BELTZHOOVER','BLOOMFIELD','BLUFF','BON AIR','BRIGHTON HEIGHTS','BROOKLINE','CALIFORNIA-KIRKBRIDE','CARRICK','CENTRAL BUSINESS DISTRICT','CENTRAL LAWRENCEVILLE','CENTRAL NORTHSIDE','CENTRAL OAKLAND','CHARTIERS','CHATEAU','CRAFTON HEIGHTS','CRAWFORD-ROBERTS','DUQUESNE HEIGHTS','EAST ALLEGHENY','EAST CARNEGIE','EAST HILLS','EAST LIBERTY','ELLIOTT','ESPLEN','FAIRYWOOD','FRIENDSHIP','GARFIELD','GLEN HAZEL','GREENFIELD','HAYS','HAZELWOOD','HIGHLAND PARK','HOMEWOOD NORTH','HOMEWOOD SOUTH','HOMEWOOD WEST','KNOXVILLE','LARIMER','LINCOLN-LEMINGTON-BELMAR','LINCOLN PLACE','LOWER LAWRENCEVILLE','MANCHESTER','MARSHALL-SHADELAND','MIDDLE HILL','MORNINGSIDE','MOUNT OLIVER','MOUNT WASHINGTON','NEW HOMESTEAD','NORTH OAKLAND','NORTH POINT BREEZE','NORTHVIEW HEIGHTS','OAKWOOD','OVERBROOK','PERRY NORTH','PERRY SOUTH','POINT BREEZE','POLISH HILL','REGENT SQUARE','RIDGEMONT','SAINT CLAIR','SHADYSIDE','SHERADEN','SOUTH OAKLAND','SOUTH SHORE','SOUTH SIDE FLATS','SOUTH SIDE SLOPES','SPRING GARDEN','SPRING HILL-CITYVIEW','SQUIRREL HILL NORTH','SQUIRREL HILL SOUTH','STANTON HEIGHTS','STRIP DISTRICT','SUMMER HILL','SWISSHELM PARK','TERRACE VILLAGE','TROY HILL','UPPER HILL','UPPER LAWRENCEVILLE','WEST END','WEST OAKLAND','WESTWOOD','WINDGAP']

count = 0

for index, row in deaths.iterrows():
    nhood = row['NEIGHBORHOOD']
    if nhood in knownneighborhoods:
        data = {'MD Age':row['TOTAL MD AGE AT DEATH'],'Death Pop':row['TOTALdeaths*']}
        neighborhoods[nhood] = data
        count += 1

print(neighborhoods)
print(count)

{'SOUTH SHORE': {'MD Age': 0.0, 'Death Pop': 0.0}, 'CHATEAU': {'MD Age': nan, 'Death Pop': 2.0}, 'ALLEGHENY WEST': {'MD Age': 65.0, 'Death Pop': 8.0}, 'SAINT CLAIR': {'MD Age': 67.5, 'Death Pop': 10.0}, 'WEST END': {'MD Age': 77.5, 'Death Pop': 14.0}, 'ESPLEN': {'MD Age': 71.7, 'Death Pop': 16.0}, 'ARLINGTON HEIGHTS': {'MD Age': 63.7, 'Death Pop': 17.0}, 'STRIP DISTRICT': {'MD Age': 72.5, 'Death Pop': 19.0}, 'FAIRYWOOD': {'MD Age': 53.3, 'Death Pop': 21.0}, 'HAYS': {'MD Age': 78.3, 'Death Pop': 24.0}, 'EAST CARNEGIE': {'MD Age': 80.0, 'Death Pop': 27.0}, 'REGENT SQUARE': {'MD Age': 76.7, 'Death Pop': 28.0}, 'CALIFORNIA-KIRKBRIDE': {'MD Age': 69.3, 'Death Pop': 30.0}, 'FRIENDSHIP': {'MD Age': 71.1, 'Death Pop': 41.0}, 'BLUFF': {'MD Age': 70.0, 'Death Pop': 42.0}, 'ALLEGHENY CENTER': {'MD Age': 81.7, 'Death Pop': 46.0}, 'BON AIR': {'MD Age': 78.5, 'Death Pop': 51.0}, 'CENTRAL OAKLAND': {'MD Age': 84.0, 'Death Pop': 52.0}, 'RIDGEMONT': {'MD Age': 79.3, 'Death Pop': 52.0}, 'NORTHVIEW HEIGHTS': {'MD Age': 68.0, 'Death Pop': 54.0}, 'SUMMER HILL': {'MD Age': 78.3, 'Death Pop': 64.0}, 'HOMEWOOD WEST': {'MD Age': 80.3, 'Death Pop': 66.0}, 'SPRING GARDEN': {'MD Age': 71.8, 'Death Pop': 67.0}, 'SWISSHELM PARK': {'MD Age': 83.1, 'Death Pop': 67.0}, 'NEW HOMESTEAD': {'MD Age': 83.4, 'Death Pop': 71.0}, 'OAKWOOD': {'MD Age': 78.8, 'Death Pop': 82.0}, 'POLISH HILL': {'MD Age': 72.2, 'Death Pop': 85.0}, 'BEDFORD DWELLINGS': {'MD Age': 71.4, 'Death Pop': 88.0}, 'WEST OAKLAND': {'MD Age': 79.5, 'Death Pop': 93.0}, 'ARLINGTON': {'MD Age': 73.7, 'Death Pop': 96.0}, 'TERRACE VILLAGE': {'MD Age': 71.2, 'Death Pop': 99.0}, 'SOUTH OAKLAND': {'MD Age': 77.1, 'Death Pop': 103.0}, 'WINDGAP': {'MD Age': 77.5, 'Death Pop': 104.0}, 'MANCHESTER': {'MD Age': 67.4, 'Death Pop': 113.0}, 'UPPER LAWRENCEVILLE': {'MD Age': 73.7, 'Death Pop': 119.0}, 'ELLIOTT': {'MD Age': 72.0, 'Death Pop': 121.0}, 'BELTZHOOVER': {'MD Age': 76.6, 'Death Pop': 125.0}, 'ALLENTOWN': {'MD Age': 66.5, 'Death Pop': 126.0}, 'GLEN HAZEL': {'MD Age': 79.8, 'Death Pop': 131.0}, 'CENTRAL BUSINESS DISTRICT': {'MD Age': 73.9, 'Death Pop': 133.0}, 'DUQUESNE HEIGHTS': {'MD Age': 79.2, 'Death Pop': 134.0}, 'LOWER LAWRENCEVILLE': {'MD Age': 73.9, 'Death Pop': 138.0}, 'CENTRAL NORTHSIDE': {'MD Age': 71.7, 'Death Pop': 147.0}, 'EAST ALLEGHENY': {'MD Age': 66.2, 'Death Pop': 157.0}, 'MORNINGSIDE': {'MD Age': 77.8, 'Death Pop': 161.0}, 'WESTWOOD': {'MD Age': 77.0, 'Death Pop': 173.0}, 'LARIMER': {'MD Age': 75.3, 'Death Pop': 174.0}, 'POINT BREEZE': {'MD Age': 85.1, 'Death Pop': 175.0}, 'EAST HILLS': {'MD Age': 70.9, 'Death Pop': 177.0}, 'MIDDLE HILL': {'MD Age': 72.4, 'Death Pop': 183.0}, 'HOMEWOOD NORTH': {'MD Age': 75.1, 'Death Pop': 185.0}, 'CRAFTON HEIGHTS': {'MD Age': 73.5, 'Death Pop': 187.0}, 'KNOXVILLE': {'MD Age': 71.7, 'Death Pop': 188.0}, 'SPRING HILL-CITYVIEW': {'MD Age': 77.8, 'Death Pop': 189.0}, 'UPPER HILL': {'MD Age': 81.7, 'Death Pop': 191.0}, 'GARFIELD': {'MD Age': 73.5, 'Death Pop': 198.0}, 'HOMEWOOD SOUTH': {'MD Age': 76.5, 'Death Pop': 204.0}, 'PERRY NORTH': {'MD Age': 74.6, 'Death Pop': 205.0}, 'HIGHLAND PARK': {'MD Age': 79.2, 'Death Pop': 213.0}, 'LINCOLN PLACE': {'MD Age': 79.8, 'Death Pop': 217.0}, 'SQUIRREL HILL NORTH': {'MD Age': 85.0, 'Death Pop': 242.0}, 'SHERADEN': {'MD Age': 72.0, 'Death Pop': 248.0}, 'MARSHALL-SHADELAND': {'MD Age': 70.0, 'Death Pop': 252.0}, 'BANKSVILLE': {'MD Age': 85.5, 'Death Pop': 253.0}, 'PERRY SOUTH': {'MD Age': 76.4, 'Death Pop': 259.0}, 'HAZELWOOD': {'MD Age': 72.2, 'Death Pop': 261.0}, 'STANTON HEIGHTS': {'MD Age': 80.5, 'Death Pop': 278.0}, 'NORTH OAKLAND': {'MD Age': 85.6, 'Death Pop': 279.0}, 'OVERBROOK': {'MD Age': 82.2, 'Death Pop': 289.0}, 'GREENFIELD': {'MD Age': 79.2, 'Death Pop': 337.0}, 'CENTRAL LAWRENCEVILLE': {'MD Age': 81.3, 'Death Pop': 358.0}, 'EAST LIBERTY': {'MD Age': 73.0, 'Death Pop': 364.0}, 'LINCOLN-LEMINGTON-BELMAR': {'MD Age': 78.8, 'Death Pop': 389.0}, 'BLOOMFIELD': {'MD Age': 78.2, 'Death Pop': 394.0}, 'SHADYSIDE': {'MD Age': 82.1, 'Death Pop': 406.0}, 'BEECHVIEW': {'MD Age': 78.9, 'Death Pop': 434.0}, 'MOUNT WASHINGTON': {'MD Age': 76.3, 'Death Pop': 476.0}, 'BRIGHTON HEIGHTS': {'MD Age': 78.9, 'Death Pop': 496.0}, 'CARRICK': {'MD Age': 75.9, 'Death Pop': 678.0}, 'BROOKLINE': {'MD Age': 77.8, 'Death Pop': 750.0}, 'SQUIRREL HILL SOUTH': {'MD Age': 85.9, 'Death Pop': 802.0}}
81