In [6]:
import pandas as pd

deaths = pd.read_csv("nhoodmedianage20112015.csv")

deaths.sort_values('TOTAL MD AGE AT DEATH', ascending = False).head(10)

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
89,SQUIRREL HILL SOUTH,58.0,83.2,721.0,86.2,802.0,85.9
76,NORTH OAKLAND,45.0,70.9,227.0,86.8,279.0,85.6
71,BANKSVILLE,4.0,NaN,247.0,85.5,253.0,85.5
53,POINT BREEZE,13.0,66.7,158.0,85.7,175.0,85.1
68,SQUIRREL HILL NORTH,6.0,75.0,231.0,85.3,242.0,85.0
20,CENTRAL OAKLAND,2.0,NaN,50.0,84.0,52.0,84.0
28,NEW HOMESTEAD,4.0,NaN,67.0,83.8,71.0,83.4
27,SWISSHELM PARK,0.0,0.0,67.0,83.1,67.0,83.1
77,OVERBROOK,4.0,NaN,284.0,82.5,289.0,82.2
83,SHADYSIDE,72.0,81.2,320.0,82.4,406.0,82.1